<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <div> Add new dish </br>
            <form method="post" th:action="@{/dish}">
                <input type="text" name="dishname" placeholder="enter a dish name"/>
                <input type="text" name="dish_description" placeholder="enter a description"/>
                <input type="text" name="category" placeholder="enter a category"/>
                <input type="text" name="price" placeholder="enter price"/>
                <button type="submit">Add dish</button>
            </form>
        </div>

<div> Dishes menu
    <table>
        <thead>
        <tr>
            <th> Dish ID </th>
            <th> Dish name </th>
            <th> Dish description </th>
            <th> Dish category </th>
            <th> Dish price (rub.)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${dishes.empty}">
            <td colspan="5"> No dishes available </td>
        </tr>
        <tr th:each="dish : ${dishes}">
            <td><span th:text="${dish.id}"/></td>
            <td><span th:text="${dish.dishname}"/></td>
            <td><span th:text="${dish.dish_description}"/></td>
            <td><span th:text="${dish.category}"/></td>
            <td><span th:text="${dish.price}"/></td>
        </tr>
        </tbody>
    </table>
    </br>
</div>
    <div> Delete dish </br>
        <form method="post" th:action="@{/dish_delete}">
            <input type="text" name="dish_id" placeholder="enter a dish name"/>
            <button type="submit">Delete dish</button>
        </form>
    </div>
    </div>
</body>
</html>