<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    Current user:

        <span th:text="${userr.id}"/>
        <span th:text="${userr.username}"/>
        <span th:text="${userr.password}"/>
        <span th:text="${userr.roles}"/>
        <span th:text="${userr.email}"/></br>
        <!--<b th:text="${user.GetAuthorName()}"></b></br>-->
</div>
<div>
    <form method="post">
       <input type="text" name="name" placeholder="enter name"/>
       <input type="text" name="password" placeholder="enter password"/>
       <input type="text" name="role" placeholder="enter role"/>
       <input type="text" name="email" placeholder="enter email"/>
       <button type="submit">Add user</button>
    </form>
</div>
<div>
    <form method="post" th:action="@{/filter}">
        <input type="text" name="filter" placeholder="enter name"/>
        <button type="submit">Search</button>
    </form>
</div>
<div>Users list

    <span th:if="${users.empty}">
         No Users Available </span>

    <span th:each="user : ${users}">
        <span th:text="${user.id}"/>
        <span th:text="${user.name}"/>
        <span th:text="${user.password}"/>
        <span th:text="${user.role}"/>
        <span th:text="${user.email}"/></br>
        <!--<b th:text="${user.GetAuthorName()}"></b></br>-->
    </span>
</div>

<div>Dishes list

    <span th:if="${dishes.empty}">
         No Dishes Available </span>

    <span th:each="dish : ${dishes}">
        <span th:text="${dish.dishname}"/>
        <span th:text="${dish.dish_description}"/>
        <span th:text="${dish.price}"/></br>
    </span>
</div>
</body>
</html>