<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
       <input type="text" name="name" placeholder="enter name"/>
       <input type="text" name="password" placeholder="enter password"/>
       <input type="text" name="role" placeholder="enter role"/>
       <input type="text" name="email" placeholder="enter email"/>
       <button type="submit">Add user</button>
    </form>
</div>
<div>
    <form method="post" th:action="@{/filter}">
        <input type="text" name="filter" placeholder="enter name"/>
        <button type="submit">Search</button>
    </form>
</div>
<div>Users list</div>

    <span th:if="${users.empty}">
         No Users Available </span>

    <span th:each="user : ${users}">
        <span th:text="${user.id}"/>
        <span th:text="${user.name}"/>
        <span th:text="${user.password}"/>
        <span th:text="${user.role}"/>
        <span th:text="${user.email}"/></br>
        <b th:text="${user.author}"></b>
    </span>
</body>
</html>