<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div>Orders list

    <span th:if="${orders.empty}">
         No Orders  </span>

    <span th:each="order : ${orders}">
        <span th:text="${order.id}"/>
        <span th:text="${order.dish}"/>
        <span th:text="${order.userr}"/>
        <span th:text="${order.count_of_dishes}"/></br>
        <!--<b th:text="${user.GetAuthorName()}"></b></br>-->
    </span>
</div>
</body>
</html>